html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.adaptativa {
  /* HTML5 display-role reset for older browsers */ }
  .adaptativa html, .adaptativa body, .adaptativa div, .adaptativa span, .adaptativa applet, .adaptativa object, .adaptativa iframe,
  .adaptativa h1, .adaptativa h2, .adaptativa h3, .adaptativa h4, .adaptativa h5, .adaptativa h6, .adaptativa p, .adaptativa blockquote, .adaptativa pre,
  .adaptativa a, .adaptativa abbr, .adaptativa acronym, .adaptativa address, .adaptativa big, .adaptativa cite, .adaptativa code,
  .adaptativa del, .adaptativa dfn, .adaptativa em, .adaptativa img, .adaptativa ins, .adaptativa kbd, .adaptativa q, .adaptativa s, .adaptativa samp,
  .adaptativa small, .adaptativa strike, .adaptativa strong, .adaptativa sub, .adaptativa sup, .adaptativa tt, .adaptativa var,
  .adaptativa b, .adaptativa u, .adaptativa i, .adaptativa center,
  .adaptativa dl, .adaptativa dt, .adaptativa dd, .adaptativa ol, .adaptativa ul, .adaptativa li,
  .adaptativa fieldset, .adaptativa form, .adaptativa label, .adaptativa legend,
  .adaptativa table, .adaptativa caption, .adaptativa tbody, .adaptativa tfoot, .adaptativa thead, .adaptativa tr, .adaptativa th, .adaptativa td,
  .adaptativa article, .adaptativa aside, .adaptativa canvas, .adaptativa details, .adaptativa embed,
  .adaptativa figure, .adaptativa figcaption, .adaptativa footer, .adaptativa header, .adaptativa hgroup,
  .adaptativa menu, .adaptativa nav, .adaptativa output, .adaptativa ruby, .adaptativa section, .adaptativa summary,
  .adaptativa time, .adaptativa mark, .adaptativa audio, .adaptativa video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .adaptativa article, .adaptativa aside, .adaptativa details, .adaptativa figcaption, .adaptativa figure,
  .adaptativa footer, .adaptativa header, .adaptativa hgroup, .adaptativa menu, .adaptativa nav, .adaptativa section {
    display: block; }
  .adaptativa body {
    line-height: 1; }
  .adaptativa ol, .adaptativa ul {
    list-style: none; }
  .adaptativa blockquote, .adaptativa q {
    quotes: none; }
  .adaptativa blockquote:before, .adaptativa blockquote:after,
  .adaptativa q:before, .adaptativa q:after {
    content: '';
    content: none; }
  .adaptativa table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
  font-family: "Heebo", arial, tahoma; }

#adaptativa {
  height: auto;
  overflow: visible;
  padding: 20px;
  background-color: #e0e0e0; }
  #adaptativa button:active,
  #adaptativa button:focus {
    outline: 0; }
  #adaptativa h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #505050;
    margin-bottom: 15px; }
  #adaptativa .adaptativa__header {
    height: auto;
    overflow: hidden; }
  #adaptativa .adaptativa__modal {
    position: absolute;
    top: 0;
    margin-top: 20px;
    min-height: 580px;
    left: 0;
    width: 100%;
    border-radius: 5px; }
  #adaptativa .adaptativa__combos__btn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    height: 49px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #058274;
    position: relative;
    overflow: hidden; }
    #adaptativa .adaptativa__combos__btn:last-child {
      margin-right: 0; }
    #adaptativa .adaptativa__combos__btn i {
      width: 24px;
      height: 24px;
      background: transparent url("../imgs/ic_home.png") no-repeat 0 0;
      display: inline-block;
      vertical-align: middle; }
    #adaptativa .adaptativa__combos__btn span {
      font-size: 14px;
      font-weight: bold;
      color: #505050;
      vertical-align: bottom;
      margin-left: 3px; }
  #adaptativa .adaptativa__body {
    height: auto;
    overflow: visible;
    position: relative; }
  #adaptativa .adaptativa__content {
    margin-top: 10px;
    min-height: 600px; }
  #adaptativa .adaptativa__combos {
    display: flex;
    justify-content: center; }
  #adaptativa .adaptativa__btn-default, #adaptativa .adaptativa__btn-primary {
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 0 30px;
    font-size: 16px;
    outline: 0; }
  #adaptativa .adaptativa__btn-default {
    background-color: #004a5e;
    border: solid 2px #ffffff; }
  #adaptativa .adaptativa__btn-primary {
    border: 0;
    background-color: #ffac27;
    box-shadow: 0px 3px 2.9px 0.1px rgba(0, 0, 0, 0.4); }
  #adaptativa .adaptativa__btn-close {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: transparent url("../imgs/ic_close.png") no-repeat 0 0;
    border: 0;
    outline: 0;
    cursor: pointer; }

#adaptativa .adaptativa__combo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  display: block;
  height: 49px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #058274;
  position: relative;
  overflow: hidden; }
  #adaptativa .adaptativa__combo:last-child {
    margin-right: 0; }
  #adaptativa .adaptativa__combo span {
    font-size: 10px;
    color: #999;
    position: absolute;
    z-index: 2;
    padding: 7px 10px; }
  #adaptativa .adaptativa__combo i {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: transparent url("../imgs/ic_arrow.png") no-repeat 0 0;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 3;
    margin-top: -8px; }
  #adaptativa .adaptativa__combo select {
    width: 100%;
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    color: #505050;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 20px 10px 10px; }

#adaptativa .adaptativa__panel__header {
  height: 55px;
  background-color: #058274;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
  padding: 7px 20px; }

#adaptativa .adaptativa__panel__btn-close {
  float: right;
  margin-top: 12px;
  margin-right: 5px; }

#adaptativa .adaptativa__card {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 195px;
  background-color: #058274;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  #adaptativa .adaptativa__card:last-child {
    margin-right: 0; }
  #adaptativa .adaptativa__card:nth-child(3n+3) {
    margin-right: 0; }
  #adaptativa .adaptativa__card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center; }
  #adaptativa .adaptativa__card p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 5px 0; }
  #adaptativa .adaptativa__card__stars {
    text-align: center; }
    #adaptativa .adaptativa__card__stars__container {
      display: inline-block;
      position: relative; }
    #adaptativa .adaptativa__card__stars span {
      background-color: #0b9989;
      color: #fff;
      font-size: 9px;
      display: flex;
      align-items: center;
      padding: 2px 20px 2px 15px;
      border-radius: 10px 0 0 10px;
      height: 20px; }
    #adaptativa .adaptativa__card__stars i {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: transparent url("../imgs/Estrela.png") no-repeat 0 0;
      background-size: 24px;
      vertical-align: middle;
      position: absolute;
      top: -2px;
      right: -15px; }

#adaptativa .adaptativa__tiles {
  margin-top: 40px; }

#adaptativa .adaptativa__tile {
  float: left;
  display: block;
  margin-right: 1.40138%;
  width: 49.29931%;
  height: 140px;
  background-color: #0b9989;
  border-radius: 5px;
  box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer; }
  #adaptativa .adaptativa__tile:last-child {
    margin-right: 0; }
  #adaptativa .adaptativa__tile:nth-child(2n+2) {
    margin-right: 0; }
  #adaptativa .adaptativa__tile__star {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: transparent url("../imgs/Estrela_vazia.png") no-repeat 0 0;
    background-size: 40px; }
    #adaptativa .adaptativa__tile__star--filled {
      background-image: url("../imgs/Estrela.png"); }
  #adaptativa .adaptativa__tile p {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px; }

#adaptativa .adaptativa__home__cards {
  display: flex;
  flex-wrap: wrap; }

#adaptativa .adaptativa__materias {
  background-color: #058274;
  display: none; }
  #adaptativa .adaptativa__materias .adaptativa__card {
    width: 100%;
    box-shadow: none;
    float: none;
    position: relative;
    top: 40px; }
    #adaptativa .adaptativa__materias .adaptativa__card p {
      font-size: 30px;
      margin: 10px 0; }
  #adaptativa .adaptativa__materias .adaptativa__tiles {
    padding: 0 20px; }
  #adaptativa .adaptativa__materias__btn-close {
    float: right;
    margin-top: 15px;
    margin-right: 20px; }

#adaptativa .adaptativa__quiz {
  background-color: #bebebe;
  padding-bottom: 40px;
  display: none; }
  #adaptativa .adaptativa__quiz__modal-exit-quiz {
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; }
    #adaptativa .adaptativa__quiz__modal-exit-quiz__box {
      width: 500px;
      height: 252px;
      border-radius: 10px;
      background-color: #004a5e;
      box-shadow: 0px 10px 17px 3px rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      #adaptativa .adaptativa__quiz__modal-exit-quiz__box div {
        width: 100%;
        padding: 0 40px;
        text-align: center;
        margin-top: 30px; }
      #adaptativa .adaptativa__quiz__modal-exit-quiz__box p {
        color: #fff;
        font-size: 16px;
        line-height: normal;
        text-align: center; }
      #adaptativa .adaptativa__quiz__modal-exit-quiz__box button {
        width: calc(50% - 20px);
        margin: 10px 10px 0; }
        #adaptativa .adaptativa__quiz__modal-exit-quiz__box button:first-child {
          margin-left: 0; }
        #adaptativa .adaptativa__quiz__modal-exit-quiz__box button:last-child {
          margin-right: 0; }
  #adaptativa .adaptativa__quiz h4 {
    display: inline-block;
    vertical-align: middle; }
    #adaptativa .adaptativa__quiz h4 img, #adaptativa .adaptativa__quiz h4 strong {
      vertical-align: middle; }
    #adaptativa .adaptativa__quiz h4 strong {
      color: #fff;
      font-size: 23px;
      font-weight: bold;
      margin: 0 10px; }
  #adaptativa .adaptativa__quiz .adaptativa__card__stars {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px; }
  #adaptativa .adaptativa__quiz__materia {
    height: 35px;
    background-color: #0b9989;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 50px;
    padding: 10px 20px; }
    #adaptativa .adaptativa__quiz__materia p {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
      padding-right: 50px; }
    #adaptativa .adaptativa__quiz__materia .adaptativa__tile__stars {
      display: inline-block;
      vertical-align: top; }
      #adaptativa .adaptativa__quiz__materia .adaptativa__tile__stars i {
        width: 18px;
        height: 18px;
        background-size: 18px; }
  #adaptativa .adaptativa__quiz__btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    outline: 0;
    border: 0;
    position: absolute;
    top: 50%;
    margin-top: -30px; }
    #adaptativa .adaptativa__quiz__btn--left {
      left: 20px;
      background-image: url("../imgs/ic_nav_left.png"); }
    #adaptativa .adaptativa__quiz__btn--right {
      right: 20px;
      background-image: url("../imgs/ic_nav_right.png"); }
  #adaptativa .adaptativa__quiz__questions {
    max-width: 626px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    display: none; }
  #adaptativa .adaptativa__quiz__question {
    text-align: center; }
    #adaptativa .adaptativa__quiz__question__description__text {
      font-size: 16px;
      line-height: 20px;
      margin-top: 30px;
      color: #455a64; }
    #adaptativa .adaptativa__quiz__question__description__cite {
      padding: 25px 30px;
      text-align: left;
      background-color: #d1d1d1;
      font-size: 12px;
      color: #455a64;
      margin-top: 20px; }
      #adaptativa .adaptativa__quiz__question__description__cite p {
        padding: 5px 0; }
      #adaptativa .adaptativa__quiz__question__description__cite span {
        display: block;
        text-align: right;
        margin-top: 10px; }
    #adaptativa .adaptativa__quiz__question__description img {
      margin: 20px 0 0; }
    #adaptativa .adaptativa__quiz__question__options button {
      outline: 0;
      border: 0;
      background-color: rgba(108, 73, 4, 0.4);
      border-radius: 10px;
      box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
      position: relative;
      min-height: 40px;
      overflow: hidden;
      margin-top: 20px;
      text-align: left;
      width: 500px;
      padding: 10px 0; }
      #adaptativa .adaptativa__quiz__question__options button p {
        color: #fff;
        font-size: 11px;
        display: inline-block;
        margin-left: 50px;
        margin-right: 20px; }
      #adaptativa .adaptativa__quiz__question__options button span {
        width: 40px;
        min-height: 40px;
        height: 100%;
        background-color: #ffac27;
        color: #fff;
        font-size: 16px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center; }
  #adaptativa .adaptativa__quiz__pagination {
    margin-top: 30px; }
    #adaptativa .adaptativa__quiz__pagination__btn {
      width: 30px;
      height: 30px;
      background-color: #FFF;
      border-radius: 10px;
      text-align: center;
      outline: 0;
      border: 0;
      position: relative;
      color: #455a64;
      margin: 0 5px; }
      #adaptativa .adaptativa__quiz__pagination__btn--active {
        width: 40px;
        height: 40px;
        background-color: #0b9989;
        font-size: 18px;
        color: #fff;
        position: relative;
        top: 5px; }
    #adaptativa .adaptativa__quiz__pagination__chosen-option {
      font-size: 12px;
      color: #455a64;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background-color: #999999;
      box-shadow: 0px 3px 2.9px 0.1px rgba(0, 0, 0, 0.4);
      color: #fff;
      text-transform: uppercase;
      display: block;
      line-height: 20px;
      right: -10px;
      bottom: -10px; }
  #adaptativa .adaptativa__quiz__result {
    display: none; }
    #adaptativa .adaptativa__quiz__result h4 {
      font-size: 36px;
      color: #505050;
      font-weight: bold;
      text-align: center;
      display: block;
      margin-top: 40px; }
    #adaptativa .adaptativa__quiz__result__msg {
      background-color: #004a5e;
      width: 500px;
      height: 252px;
      display: block;
      border-radius: 10px;
      margin: 60px auto 0;
      color: #fff;
      font-size: 16px;
      position: relative;
      padding: 70px 63px 30px 63px;
      text-align: center; }
      #adaptativa .adaptativa__quiz__result__msg__btn-try-again {
        margin-top: 20px; }
      #adaptativa .adaptativa__quiz__result__msg__btn-bonus-star {
        background: #ffac27 url("../imgs/ic-star.png") no-repeat 20px center;
        padding: 0 25px 0 65px;
        margin-top: 20px; }
    #adaptativa .adaptativa__quiz__result__stars {
      width: 100%;
      position: absolute;
      top: -40px;
      margin: 0 auto;
      text-align: center;
      left: 0; }
      #adaptativa .adaptativa__quiz__result__stars__star {
        width: 80px;
        height: 80px;
        display: inline-block;
        background: transparent url("../imgs/Estrela_Vazia.png") no-repeat 0 0;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        margin: 0 5px; }
        #adaptativa .adaptativa__quiz__result__stars__star--filled {
          background-image: url("../imgs/Estrela_cheia.png"); }
    #adaptativa .adaptativa__quiz__result__option {
      max-width: 500px;
      min-height: 60px;
      height: auto;
      overflow: hidden;
      background-color: rgba(108, 73, 4, 0.4);
      margin: 10px auto;
      border-radius: 10px;
      box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
      position: relative; }
      #adaptativa .adaptativa__quiz__result__option__item {
        display: flex;
        position: relative;
        height: 60px; }
      #adaptativa .adaptativa__quiz__result__option__view {
        background-color: #d8d8d8;
        text-align: center;
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: height .2s ease; }
        #adaptativa .adaptativa__quiz__result__option__view--opened {
          padding: 20px 0;
          height: auto; }
        #adaptativa .adaptativa__quiz__result__option__view .adaptativa__quiz__question__description__text {
          padding: 0 20px;
          font-size: 12px;
          margin-top: 10px; }
      #adaptativa .adaptativa__quiz__result__option__letter {
        width: 40px;
        height: 100%;
        border-radius: 10px;
        background-color: #ffac27;
        font-size: 16px;
        color: #fff;
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center; }
    #adaptativa .adaptativa__quiz__result__answers {
      margin-left: 60px;
      display: flex;
      height: 100%;
      align-items: center; }
      #adaptativa .adaptativa__quiz__result__answers p {
        color: #fff;
        font-size: 12px;
        line-height: 16px; }
      #adaptativa .adaptativa__quiz__result__answers__letter {
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 0 10px; }
    #adaptativa .adaptativa__quiz__result__feedback {
      width: 31px;
      height: 31px;
      display: inline-block;
      border-radius: 100%;
      margin-left: 10px; }
      #adaptativa .adaptativa__quiz__result__feedback--error {
        background: #ff001d url("../imgs/Erro.png") no-repeat center center; }
      #adaptativa .adaptativa__quiz__result__feedback--success {
        background: #8cc63f url("../imgs/Correto.png") no-repeat center center; }
    #adaptativa .adaptativa__quiz__result__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1; }
      #adaptativa .adaptativa__quiz__result__actions__btn {
        width: 24px;
        height: 24px;
        display: inline-block;
        outline: 0;
        border: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;
        margin: 0 5px;
        cursor: pointer; }
        #adaptativa .adaptativa__quiz__result__actions__btn-view {
          background-image: url("../imgs/ic_view.png"); }
          #adaptativa .adaptativa__quiz__result__actions__btn-view--active, #adaptativa .adaptativa__quiz__result__actions__btn-view:hover {
            background-image: url("../imgs/ic_view_ativo.png"); }
        #adaptativa .adaptativa__quiz__result__actions__btn-like {
          background-image: url("../imgs/ic_thumbsup.png"); }
          #adaptativa .adaptativa__quiz__result__actions__btn-like--active, #adaptativa .adaptativa__quiz__result__actions__btn-like:hover {
            background-image: url("../imgs/ic_thumbsup_ativo.png"); }
        #adaptativa .adaptativa__quiz__result__actions__btn-unlike {
          background-image: url("../imgs/ic_thumbsdown.png"); }
          #adaptativa .adaptativa__quiz__result__actions__btn-unlike--active, #adaptativa .adaptativa__quiz__result__actions__btn-unlike:hover {
            background-image: url("../imgs/ic_thumbsdown_ativo.png"); }
        #adaptativa .adaptativa__quiz__result__actions__btn-report {
          background-image: url("../imgs/ic_report.png"); }
          #adaptativa .adaptativa__quiz__result__actions__btn-report--active, #adaptativa .adaptativa__quiz__result__actions__btn-report:hover {
            background-image: url("../imgs/ic_report_ativo.png"); }
