#adaptativa {
  .adaptativa {
    &__card {
      @include span-columns(4);
      height: 195px;
      background-color: $colorPrimary;
      text-align: center;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
      }
      p {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        display: block;
        margin: 5px 0;
      }
      &__stars {
        text-align: center;
        &__container {
          display: inline-block;
          position: relative;
        }
        span {
          background-color: $colorSecondary;
          color: #fff;
          font-size: 9px;
          display: flex;
          align-items: center;
          padding: 2px 20px 2px 15px;
          border-radius: 10px 0 0 10px;
          height: 20px;
        }
        i {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: transparent url('../imgs/Estrela.png') no-repeat 0 0;
          background-size: 24px;
          vertical-align: middle;
          position: absolute;
          top: -2px;
          right: -15px;
        }
      }
    }
  }
}