#adaptativa {
  .adaptativa {
    &__combo {
      @include span-columns(3);
      display: block;
      height: 49px;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px $colorPrimary;
      position: relative;
      overflow: hidden;
      span {
        font-size: 10px;
        color: #999;
        position: absolute;
        z-index: 2;
        padding: 7px 10px;
      }
      i {
        width: 16px;
        height: 16px;
        display: inline-block;
        background: transparent url('../imgs/ic_arrow.png') no-repeat 0 0;
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 3;
        margin-top: -8px;
      }
      select {
        width: 100%;
        height: 47px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-size: 14px;
        font-weight: bold;
        color: #505050;
        outline: 0;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance : none;
        padding: 20px 10px 10px;
      }
    }
  }
}