body {
  font-family: $fontFamily;
}

#adaptativa {
  height: auto;
  overflow: visible;
  padding: 20px;
  background-color: #e0e0e0;
  button:active,
  button:focus {
    outline: 0;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #505050;
    margin-bottom: 15px;
  }
  .adaptativa {
    &__header {
      height: auto;
      overflow: hidden;
    }
    &__modal {

      position: absolute;
      top: 0;
      margin-top: 20px;
      min-height: 580px;
      left: 0;
      width: 100%;
      border-radius: 5px;
    }
    &__combos__btn {
      @include span-columns(2);
      height: 49px;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px $colorPrimary;
      position: relative;
      overflow: hidden;
      i {
        width: 24px;
        height: 24px;
        background: transparent url('../imgs/ic_home.png') no-repeat 0 0;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        font-size: 14px;
        font-weight: bold;
        color: #505050;
        vertical-align: bottom;
        margin-left: 3px;
      }
    }
    &__body {
      height: auto;
      overflow: visible;
      position: relative;
    }
    &__content {
      margin-top: 10px;
      min-height: 600px;
    }
    &__combos {
      display: flex;
      justify-content: center;
    }
    &__btn-default, &__btn-primary {
      height: 60px;
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      text-align: center;
      padding: 0 30px;
      font-size: 16px;
      outline: 0;
    }
    &__btn-default {
      background-color: #004a5e;
      border: solid 2px #ffffff;
    }

    &__btn-primary {
      border: 0;
      background-color: #ffac27;
      box-shadow: 0px 3px 2.9px 0.1px rgba(0, 0, 0, 0.4);
    }

    &__btn-close {
      width: 18px;
      height: 18px;
      display: inline-block;
      background: transparent url('../imgs/ic_close.png') no-repeat 0 0;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
  }
}