#adaptativa {
  .adaptativa {
    &__materias {
      background-color: $colorPrimary;
      display: none;
      .adaptativa {
        &__card {
          width: 100%;
          box-shadow: none;
          float: none;
          position: relative;
          top: 40px;
          p {
            font-size: 30px;
            margin: 10px 0;
          }
        }
        &__tiles {
          padding: 0 20px;
        }
      }
      &__btn-close {
        float: right;
        margin-top: 15px;
        margin-right: 20px;
      }
    }
  }
}