#adaptativa {
  .adaptativa__panel {
    &__header {
      height: 55px;
      background-color: $colorPrimary;
      border-radius: 5px 5px 0 0;
      box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
      padding: 7px 20px;
    }
    &__btn-close {
      float: right;
      margin-top: 12px;
      margin-right: 5px;
    }
  }
}