#adaptativa {
  .adaptativa__quiz {
    background-color: #bebebe;
    padding-bottom: 40px;
    display: none;
    &__modal-exit-quiz {
      position: fixed;
      width: 100%;
      height: 100%;
      height: 100vh;
      overflow: hidden;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .8);
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      &__box {
        width: 500px;
        height: 252px;
        border-radius: 10px;
        background-color: #004a5e;
        box-shadow: 0px 10px 17px 3px rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        div {
          width: 100%;
          padding: 0 40px;
          text-align: center;
          margin-top: 30px;
        }
        p {
          color: #fff;
          font-size: 16px;
          line-height: normal;
          text-align: center;
        }
        button {
          width: calc(50% - 20px);
          margin: 10px 10px 0;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    h4 {
      display: inline-block;
      vertical-align: middle;
      img, strong {
        vertical-align: middle;
      }
      strong {
        color: #fff;
        font-size: 23px;
        font-weight: bold;
        margin: 0 10px;
      }
    }
    .adaptativa__card__stars {
      display: inline-block; 
      vertical-align: middle;
      margin-left: 20px;
    }
    &__materia {
      height: 35px;
      background-color: $colorSecondary;
      display: inline-block; 
      vertical-align: middle;
      box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      margin-left: 50px;
      padding: 10px 20px;
      p {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        vertical-align: top;
        padding-right: 50px;
      }
      .adaptativa__tile__stars {
        display: inline-block;
        vertical-align: top;
        i {
          width: 18px;
          height: 18px;
          background-size: 18px;
        }
      }
    }
    &__btn {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      outline: 0;
      border: 0;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      &--left {
        left: 20px;
        background-image: url('../imgs/ic_nav_left.png');
      }
      &--right {
        right: 20px;
        background-image: url('../imgs/ic_nav_right.png');
      }
    }
    &__questions {
      max-width: 626px;
      margin: 0 auto;
      padding: 20px 0;
      position: relative;
      display: none;
    }
    &__question {
      text-align: center;
      &__description {
        &__text {
          font-size: 16px;
          line-height: 20px;
          margin-top: 30px;
          color: #455a64;
        }
        &__cite {
          padding: 25px 30px;
          text-align: left;
          background-color: #d1d1d1;
          font-size: 12px;
          color: #455a64;
          margin-top: 20px;
          p { 
            padding: 5px 0;
          }
          span {
            display: block;
            text-align: right;
            margin-top: 10px;
          }
        }
        img {
          margin: 20px 0 0;
        }
      }
      &__options {
        button {
          outline: 0;
          border: 0;
          background-color: rgba(108,73,4,.4);
          border-radius: 10px;
          box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
          position: relative;
          min-height: 40px;
          overflow: hidden;
          margin-top: 20px;
          text-align: left;
          width: 500px;
          padding: 10px 0;
          p {
            color: #fff;
            font-size: 11px;
            display: inline-block;
            margin-left: 50px;
            margin-right: 20px;
          }
          span {
            width: 40px;
            min-height: 40px;
            height: 100%;
            background-color: #ffac27;
            color: #fff;
            font-size: 16px;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    &__pagination {
      margin-top: 30px;
      &__btn {
        width: 30px;
        height: 30px;
        background-color: #FFF;
        border-radius: 10px;
        text-align: center;
        outline: 0;
        border: 0;
        position: relative;
        color: #455a64;
        margin: 0 5px;
        &--active {
          width: 40px;
          height: 40px;
          background-color: $colorSecondary;
          font-size: 18px;
          color: #fff;
          position: relative;
          top: 5px;
        }
      }

      &__chosen-option {
        font-size: 12px;
        color: #455a64;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: #999999;
        box-shadow: 0px 3px 2.9px 0.1px rgba(0, 0, 0, 0.4);
        color: #fff;
        text-transform: uppercase;
        display: block;
        line-height: 20px;  
        right: -10px;
        bottom: -10px;
      }

    }
    &__result {
      display: none;
      h4 {
        font-size: 36px;
        color: #505050;
        font-weight: bold;
        text-align: center;
        display: block;
        margin-top: 40px;
      }
      &__msg {
        background-color: #004a5e;
        width: 500px;
        height: 252px;
        display: block;
        border-radius: 10px;
        margin: 60px auto 0;
        color: #fff;
        font-size: 16px;
        position: relative;
        padding: 70px 63px 30px 63px;
        text-align: center;
        &__btn-try-again {
          // width: 180px;
          margin-top: 20px;
        }
        &__btn-bonus-star {
          background: #ffac27 url('../imgs/ic-star.png') no-repeat 20px center;
          padding: 0 25px 0 65px;
          margin-top: 20px;
        }
      }
      &__stars {
        width: 100%;
        position: absolute;
        top: -40px;
        margin: 0 auto;
        text-align: center;
        left: 0;
        &__star {
          width: 80px;
          height: 80px;
          display: inline-block;
          background: transparent url('../imgs/Estrela_Vazia.png') no-repeat 0 0;
          border-radius: 100%;
          box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
          margin: 0 5px;
          &--filled {
            background-image: url('../imgs/Estrela_cheia.png');
          }
        }
      }
      &__option {
        max-width: 500px;
        min-height: 60px;
        height: auto;
        overflow: hidden;
        background-color: rgba(108,73,4,.4);
        margin: 10px auto;
        border-radius: 10px;
        box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
        position: relative;
        &__item {
          display: flex;
          position: relative;
          height: 60px;

        }
        &__view {
          background-color: #d8d8d8;
          text-align: center;
          height: 0;
          overflow: hidden;
          padding: 0;
          transition: height .2s ease;
          &--opened {
            padding: 20px 0;
            height: auto;
          }
          .adaptativa__quiz__question__description__text {
            padding: 0 20px;
            font-size: 12px;
            margin-top: 10px;
          }
        }
        &__letter {
          width: 40px;
          height: 100%;
          border-radius: 10px;
          background-color: #ffac27;
          font-size: 16px;
          color: #fff;
          text-align: center;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &__answers {
        margin-left: 60px;
        display: flex;
        height: 100%;
        align-items: center;
        // p, span {
        //   display: inline-block;
        // }
        p {
          // max-width: 62px;
          color: #fff;
          font-size: 12px;
          line-height: 16px;
        }
        &__letter {
          width: 30px;
          height: 30px;
          background-color: rgba(0, 0, 0, .2);
          text-align: center;
          color: #ffffff;
          font-size: 14px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 10px 0 10px;
        }
      }
      &__feedback {
        width: 31px;
        height: 31px;
        display: inline-block;
        border-radius: 100%;
        margin-left: 10px;
        &--error {
          background: #ff001d url('../imgs/Erro.png') no-repeat center center;
        }
        &--success {
          background: #8cc63f url('../imgs/Correto.png') no-repeat center center;
        }
      }
      &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
       &__btn {
          width: 24px;
          height: 24px;
          display: inline-block;
          outline: 0;
          border: 0;
          background-repeat: no-repeat;
          background-color: transparent;
          background-position: center center;
          margin: 0 5px;
          cursor: pointer;
          &-view {
            background-image: url('../imgs/ic_view.png');
            &--active, &:hover {
              background-image: url('../imgs/ic_view_ativo.png');
            }
          }
          &-like {
            background-image: url('../imgs/ic_thumbsup.png');
            &--active, &:hover {
              background-image: url('../imgs/ic_thumbsup_ativo.png');
            }
          }
          &-unlike {
            background-image: url('../imgs/ic_thumbsdown.png');
            &--active, &:hover {
              background-image: url('../imgs/ic_thumbsdown_ativo.png');
            }
          }
          &-report {
            background-image: url('../imgs/ic_report.png');
            &--active, &:hover {
              background-image: url('../imgs/ic_report_ativo.png');
            }
          }
       } 
      }
    }
  }
}