#adaptativa {
  .adaptativa {
    &__tiles {
      margin-top: 40px;
    }
    &__tile {
      @include span-columns(10 of 20);
      height: 140px;
      background-color: $colorSecondary;
      border-radius: 5px;
      box-shadow: 0px 5px 4.8px 0.3px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top:5px;
      margin-bottom:5px;
      cursor: pointer;
      &:nth-child(2n+2) {
        margin-right: 0;
      }
      &__star {
        width: 40px;
        height: 40px;
        display: inline-block;
        background: transparent url('../imgs/Estrela_vazia.png') no-repeat 0 0;
        background-size: 40px;
        &--filled {
          background-image: url('../imgs/Estrela.png');
        }
      }
      p {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
      }
    }

  }
}